* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

body {
  background-color: transparent !important;
  margin: 0;
}

/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none;
}

/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
* Address styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
img {
  border: 0;
}

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 1em 40px;
}


/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
}

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ==========================================================================
SYNTAX HIGHLIGHTING
========================================================================== */
pre, code {
  font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
  white-space: pre-wrap;
  font-weight: 400;
}


pre {
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 10px;
  white-space: pre;
  overflow: auto;
  border-radius: 3px;
}

pre code {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}


blockquote > code,
li > code,
p > code,
.settings-panel-example > code {
  white-space: nowrap;
}

div.highlighter-rouge,
figure.highlight {
  clear:  both;
  font-size: inherit;
  position: relative;
  margin: 2em 0 4em;
  background-color: #f7f7f7;
  border:  1px solid #dedede;
  overflow-x: auto;
}

div.highlighter-rouge .highlight,
figure.highlight .highlight {
  padding: 1em;
}

.highlight {
  margin: 0;
  position: relative;
  overflow-x: auto;
}

 .copy-button {
  background-color: #eaf0f6;
  border: 1px solid #cbd6e2;
  border-radius: 0.75rem;
  color: #506e91;
  font-size: 13px;
  font-family: 'Mark Pro', sans-serif;
  padding: 0.5em 0.875em;
  position: absolute;
  top:  10px;
  right:  10px;
 }

 .copy-button:hover {
  background-color: #f5f8fa;
  color: #506e91;
 }

.copy-button:focus {
  outline: none;
}

.highlight pre {
  margin: 0;
  width: 100%;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlighttable tr:hover > td,
.highlighttable tr:hover > th {
  background: transparent;
}


.highlight .c {
  color: #586e75;
}

/* Comment */
.highlight .err {
  color: #93a1a1;
}

/* Error */
.highlight .g {
  color: #93a1a1;
}

/* Generic */
.highlight .k {
  color: #859900;
}

/* Keyword */
.highlight .l {
  color: #93a1a1;
}

/* Literal */
.highlight .n {
  color: #93a1a1;
}

/* Name */
.highlight .o {
  color: #859900;
}

/* Operator */
.highlight .x {
  color: #cb4b16;
}

/* Other */
.highlight .p {
  color: #93a1a1;
}

/* Punctuation */
.highlight .cm {
  color: #586e75;
}

/* Comment.Multiline */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #586e75;
}

/* Comment.Single */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
.highlight .gd {
  color: #2aa198;
}

/* Generic.Deleted */
.highlight .ge {
  color: #93a1a1;
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
.highlight .gh {
  color: #cb4b16;
}

/* Generic.Heading */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
.highlight .go {
  color: #93a1a1;
}

/* Generic.Output */
.highlight .gp {
  color: #93a1a1;
}

/* Generic.Prompt */
.highlight .gs {
  color: #93a1a1;
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
.highlight .gt {
  color: #93a1a1;
}

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #dc322f;
}

/* Keyword.Type */
.highlight .ld {
  color: #93a1a1;
}

/* Literal.Date */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
.highlight .s {
  color: #d14d14;
}

/* Literal.String */
.highlight .na {
  color: #7e7e7e;
}

/* Name.Attribute */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
.highlight .no {
  color: #cb4b16;
}

/* Name.Constant */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16;
}

/* Name.Entity */
.highlight .ne {
  color: #cb4b16;
}

/* Name.Exception */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
.highlight .nl {
  color: #93a1a1;
}

/* Name.Label */
.highlight .nn {
  color: #93a1a1;
}

/* Name.Namespace */
.highlight .nx {
  color: #93a1a1;
}

/* Name.Other */
.highlight .py {
  color: #93a1a1;
}

/* Name.Property */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
.highlight .w {
  color: #93a1a1;
}

/* Text.Whitespace */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #586e75;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
.highlight .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
/*
Color variables
========================================================================== */
html {
  height: 100%;
  max-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  max-height: 100%;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.75em;
  color: #3A4145;
  font-weight: 400;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea,
table {
  -webkit-font-feature-settings:  'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings:  'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings:  'liga' 1, 'lnum' 1, 'kern' 1;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4d4d4d;
  line-height: 1.15em;
  font-weight: 600;
}

h4 {
  margin: 2em 0 1em;
}

a {
  color: #13633D;
  transition: color 0.2s ease;
  word-wrap: break-word;
}

a:hover {
  color: #373534;
}

p,
ul,
ol,
dl,
figure {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
}

.component-meta {
  padding-left: 0;
  margin: 1rem 0 3rem;
}

ol,
ul {
  padding-left: 3rem;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0 0 0.4em 0;
  padding-left: 2em;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

li {
  margin: 0.4em 0;
}

mark {
  background-color: #fdffb6;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #CCC 1px solid;
  color: #4d4d4d;
  text-shadow: #FFF 0 1px 0;
  font-size: 0.9em;
  font-weight: 700;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }

  hr, .content h3::before {
    margin: 2.4em 0;
  }

  ol,
  ul {
    padding-left: 2em;
  }

  h1 {
    font-size: 4.5rem;
    text-indent: -2px;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 3.1rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  h6 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 500px) {

  hr, .content h3::before {
    margin: 1.75em 0;
  }

  p, .settings-panel-example,
  ul,
  ol,
  dl {
    font-size: 0.95em;
    margin: 0 0 2.5rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.3em 0;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1.8rem;
  }
}

pre, code, tt {
  font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
  font-size: 0.85em;
  white-space: pre-wrap;
  border-radius: 2px;
  line-height: 1.4;
  font-weight: 400;
  border-radius: 2px;
}

pre {
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 1rem;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  border-radius: 3px; }
  pre code, pre tt {
    font-size: inherit;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
  }

  blockquote > code,
  li > code,
  p > code,
  .settings-panel-example > code {

    white-space: nowrap;
  }

  input::-ms-clear,
  input::-ms-reveal {
    display: none !important;
  }

  body {
    height: auto;
    overflow-x: hidden;
    background-color: #2B2E31;
  }

  body.nav-open {
    overflow: hidden;
  }

  body.nav-open nav,

  body.nav-open .side-nav-header > form {
    display: block;
  }

  body.nav-open .side-nav-header {
    bottom: 0;
  }

  body::before {
    content: "";
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  @media (min-width: 700px) {
    body {
      padding: 0 0 0 250px;
    }

    body.nav-open {
      overflow: auto;
    }

    body::after, body::before {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    body::after {
      left: 0;
      width: 250px;
      background-color: #f5f5f5;
    }

    body #search-input, body::after {
      box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
    }

    body::before {
      left: 250px;
      right: 0;
      background-color: #fff;
    }
  }

  .main {
    margin-top: 80px;
  }

  @media (min-width: 700px) {
    .main {
      margin-top: 0;
    }
  }

  .side-nav-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 1;
    background-color: #f5f5f5;
  }

  .side-nav-header ul {
    padding: 0;
    margin: 0;
  }

  .side-nav-header ul li ul {
    padding-left: 30px;
  }

  .side-nav-header h1 {
    padding: 12.5px 20px;
    height: 60px;
    box-sizing: border-box;
    background-color: #13633D;
    color: #fff;
    margin: 0;
    font-size: 1.7rem;
    font-weight:  500;
    line-height: 0.8;
    letter-spacing: 0;
    text-indent: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  }

  .side-nav-header h1 img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
  }

  .side-nav-header .open-nav {
    background-image: url(../content/dam/NGISingleSiteContent/images/menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    border: 0;
    position: absolute;
    top: 12.5px;
    right: 20px;
    border-radius: 2px;
  }

  .side-nav-header .open-nav:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .side-nav-header .open-nav:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 700px) {
    .side-nav-header {
      background-color: transparent;
      width: 250px;
      right: auto;
      bottom: auto;
    }

    .side-nav-header .open-nav {
      display: none;
    }

    .side-nav-header h1 {
      box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.1);
    }
  }


  .content,
  .page-header {
    max-width: 1280px;
    padding: 0 40px;
    margin: 20px auto 0 auto;
  }

  .content {
    margin-top:  0;
    padding-bottom: 80px;
    position: relative;
    background-color: #fff;
    color: #4d4d4d;
    /* overflow: hidden; */
  }

  .content h3::before {
    content: "";
    margin: 60px 0;
  }


  .page-header h2,
  .page-header h3 {
    margin: 0;
    line-height: 1.2;
  }

  .page-header h2 {
    font-size: 2rem;
    margin-left: -1px;
    color: #888;
  }

  .page-header h3 {
    font-size: 3rem;
    margin-left: -4px;
  }

  @media (min-width: 1180px) {
    .page-header {
      margin-top: 55px;
    }
  }

  .full-navigation,
  .side-nav-header > form {
    display: none; }

    @media (min-width: 700px) {
      .full-navigation,
      .side-nav-header > form {
        display: block;
      }
    }

    nav > ul {
      padding: 10px 0;
    }
    /*nav > ul + ul {
      border-top: 1px solid rgba(0, 0, 0, 0.075);
    }*/

    .nav-item {
      display: block;
      line-height: 1;
    }

    nav:not(.full-navigation) .nav-item > ul {
      display: none;
    }

    nav:not(.full-navigation) .nav-item.current > ul {
      display: block;
    }

    .nav-item > a {
      font-size: 14px;
      font-size: 0.875rem;
      color: #4d4d4d;
      text-decoration: none;
      padding: 5px 0;
      display: block;
    }

    .nav-item.current > a,
    .nav-item > a:active,
    .nav-item > a:hover {
      color: #13633D !important;
    }

    .nav-item.top-level > a {
      line-height: 1.5;
      font-weight: 600;
      padding-left: 20px;
      font-size: 16px;
    }

    .nav-item.top-level span {
      display: inline-block;
    padding: 10px 0;
    cursor: pointer;
    padding-left: 20px;
    line-height: 1.5;
    font-weight: 600;
    }

    .nav-item a {
      color: #4d4d4d !important;
    }

    nav > ul + ul {
      border-top: 1px solid rgba(0, 0, 0, 0.075);
    }

    .page-menu a {
      padding-left:  30px;
    }

    .settings-panel-example {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .settings-panel-example .example {
      max-width: 300px;
      background-color: #fafafa;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 1;
      border-radius: 2px;
      overflow: hidden;
    }

    @media (min-width: 960px) {
      .settings-panel-example {
        -webkit-flex-direction: row;
        flex-direction: row;
      }

      .settings-panel-example .details {
        -webkit-flex: 1;
        flex: 1;
        margin-right: 20px;
      }

      .settings-panel-example p + .highlight > pre, .settings-panel-example .settings-panel-example + .highlight > pre {
        margin-bottom: 0;
      }

      .settings-panel-example .example {
        -webkit-flex: 0 0 300px;
        flex: 0 0 300px;
        max-width: 100%;
      }
    }

    .highlight {
      margin-left: 0;
      margin-right: 0;
    }

    h3 + .warning {
      margin-top: 1.75em;
    }

    h4 svg {
      vertical-align: middle;
      margin-right: 6px;
      position: relative;
      top: -2px;
      fill: #4d4d4d;
      height: 23px;
    }

    .required {
      position: relative;
    }

    .required::after {
      content: "REQUIRED";
      font-size: 12px;
      position: absolute;
      top: 5px;
      line-height: 1;
      color: #0f6342;
      padding-left: 5px;
    }

    #search-results {
      margin: 0;
      padding: 0;
    }

    #search-results li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #search-results li h4 {
      font-size: 2rem;
    }

    #search-results li p, #search-results li .settings-panel-example {
      line-height: 1.5;
    }

    #search-input {
      -webkit-appearance: none;
      display: block;
      margin: 0;
      padding: 10px 20px 10px 15px;
      width: 100%;
      box-sizing: border-box;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      border-left: 5px solid transparent;
      line-height: 1.8;
    }

    #search-input:focus {
      outline: none;
      border-left-color: #0f6342;
    }

    .changelog,
    .changelog > div {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .changelog .date {
      color: #888;
      font-style: italic;
    }

    .badge {
      padding: 2px 5px;
      text-transform: uppercase;
      font-size: 0.8rem;
      border-radius: 2px;
      background: #eee;
      font-weight: bold;
    }

    .badge.major {
      background: #51c2be;
      color: #fff;
    }

    blockquote {
      border-left: 5px solid #92406d;
      padding: 10px 15px;
      margin-left: -15px;
      margin-right: -10px;
      background-color: #e7efec;
    }

    blockquote p:last-child, blockquote .settings-panel-example:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 1180px) {
      blockquote {
        margin-left: 0;
        margin-right: 0;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .editor-link {
      display: none;
      margin-top: 0;
    }

    .editor-link .btn {
      border: 0;
      border-radius: 2px;
      width: 100%;
      max-width: 500px;
      box-sizing: border-box;
      font-size: 2rem;
      text-decoration: none;
      padding: 10px 15px;
      margin: 0;
      font-size: 18px;
      cursor: pointer;
      background-color: #f7e064;
      color: #4d4d4d;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

    .editor-link .btn:hover {
      background-color: #f4d525;
      color: #4d4d4d;
    }

    .cms-editor-active .editor-link {
      display: block;
    }

    .component {
      overflow: hidden;
    }

    .home-link, .home-link:visited, .home-link:hover {
      color:  white !important;
      text-decoration: none;
    }

    .pattern-outline {
      /* overflow: hidden; */
      clear:  both;
      /* padding:  40px 0; */
    }

    code {
      color:  #268bd2;
    }

    pre code {
      color:  #222;
    }

.side-sub {
  display: none;
}

.top-level {
  position: relative;
}

.top-level span::after {
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  width: 0.75rem;
  height: 0.75rem;
  background-image: url(../images/vectors/collapse-icon-minimal.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 1;
  content: "";
}



.top-level span.nav-open::after {
  transform: rotate(90deg);
}
