// Type styles

p {
  font-size: 1.125em;
}

.textual--content {

  p {
    &:first-of-type {
      font-size: 1.25em;
      line-height: 1.5;
    }
  }

  a {
    color: var(--accent);
    transition: all 250ms ease-in;
  }

  h2, h3, h4 {
    color: var(--accent);
  }

}

.page--title {
  font-size: 3.5em;
  line-height: 1.3;
}

.section--header {
  font-size: 3em;
}

.recent--header {
  
}

h3 {
  font-size: 1.5rem;
}

.f-1 {
  font-size: 1rem;
}

.featured--header {
  font-family: Avenir, sans-serif;
  line-height: 1;
}

.post--card {
  color: var(--base);
  text-decoration: none;

  h4 {
    line-height: 1.2;
  }

}