// Utility classes

.align--center {
  text-align: center;
}

.read--more {
  align-items: center;
  border: 2px solid var(--accent);
  color: var(--accent);
  display: inline-flex;
  font-size: .875rem;
  font-weight: 700;
  justify-content: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  width: 12rem;

  &:hover .read--more-icon {
    transform: translateX(12px);
  }

}

.read--more-icon {
  margin-left: 0.5rem;
  transition: all 250ms ease-in-out;
}

// Center split layout

.center-split {
  --center-split-max-width: 50vw;
}

.center-split > article {
  align-items: center;
  display: grid;
}

.center-split-copy {
  padding: 2rem;
}

.center-split img,
.center-split picture,
.center-split video {
  display: block;
  padding: 0;
  object-fit: cover;
  filter: saturate(2);
  -webkit-filter: saturate(2);
}

@media (min-width: 45em) {
  .center-split {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: stretch;
  }

  .center-split > * > * {
    max-width: var(--center-split-max-width);
  }

  .center-split > img,
  .center-split > picture,
  .center-split > video {
    max-width: 100%;
    margin: 0;
  }

  .split-image {
    padding-right: 2rem;
  }

  .center-split-copy {
    max-width: 35rem;
    padding-left: 2rem;
  }
  
}

.center-split-copy, .split-image {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.center-split-header {
  @include font-size(36);
  line-height: 1.2;
}

.read-more {
  @include font-size(14);
  align-items: center;
  border: 2px solid darken($deep-blush, 10%);
  color: darken($deep-blush, 10%);
  display: inline-flex;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  width: 12rem;

  &:hover {
    border: 2px solid $elf-green;

    .read-more-icon {
      transform: translateX(12px);

      rect, polygon {
        fill: $elf-green;
      }

    }    
  }

  &.read-more-white {
    color: white;
  }


}

.read-more-icon {
  margin-left: 0.5rem;
  transition: all 250ms ease-in-out;
}

/* Utilities */

.is-hidden {
	display: none;
}

.is-visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* layout */
.grid {
	display: grid;
}

.three--column--grid {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
	grid-gap: 2rem;
}

.flex {
	display: flex;
}

.flex--center-all {
	align-items: center;
  justify-content: center;
}

.flex--center-hor {
	align-items: center;
	text-align: center;
}

.flex--center-vert {
	justify-content: center;
}


.flex--column {
	flex-direction: column;
}

.divider {
	margin: 4rem 0;
	width: 100%;
}

.textual--content {
	max-width: 75ch;
}

.show--image {
  margin-block-end: 0;
  max-width: 300px;
}