// Utility classes

.align--center {
  text-align: center;
}

.read--more {
  align-items: center;
  border: 2px solid var(--accent);
  color: var(--accent);
  display: inline-flex;
  font-size: .875rem;
  font-weight: 700;
  justify-content: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  width: 12rem;

  &:hover .read--more-icon {
    transform: translateX(12px);
  }

}

.read--more-icon {
  margin-left: 0.5rem;
  transition: all 250ms ease-in-out;
}

/* Utilities */

.is-hidden {
	display: none;
}

.is-visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}


// spacing {

// Margins

.m-0 {
  margin: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-8 {
  margin-bottom: 0.5rem;
}

.m-b-16 {
  margin-bottom: 1rem;
}

// Padding

.p-16 {
  padding: 1rem;
}

.p-b-48 {
  padding-bottom: 3rem;
}

.p-t-48 {
  padding-top: 3rem;
}

.p-64 {
  padding: 4rem;
}

.p-t-64 {
  padding-top: 4rem;
}



