/* Home page */

.main-home {
  display: grid;
  padding-bottom: 5rem;
}

.home-header {
  font-size: 4em;
  margin: 4rem 0 3rem;
}

@media (min-width: 33.750em) {
  .home-header {
    font-size: 5.5em;
  }

  .home-header-indent {
    display: block;
    /* transform: translateX(1ch); */
  }
}

.lead {
  font-size: 1.2em;
  max-width: 50ch;
}

.home-section {
  max-width: 65ch;
}

.progress {
  color: #585e6b;
  position: absolute;
  top: 2rem;
  right: 2rem;
  writing-mode: vertical-lr;
}

p + h3 {
  margin-top: 5rem;
}

.inline-link {
  margin-right: 1rem;
}