body {
  text-align: center;
  height:  100%;
  background: #4CB8C4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CB8C4 , #3CD3AD); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CB8C4 , #3CD3AD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  line-height: 1.5;
  font-family: 'Merriweather', sans-serif;
  padding: 4rem 20px 0;
}

a {
  color: #DD2476;
}

#quote-box {
  line-height: 1;
  margin:  5rem auto;
  text-align: center;
}

h1 {
  font-weight:  400;
}

.quote {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
  }

.quote::before, .quote::after {
  font-size: 6rem;
  line-height: 2.5rem;
}

.quote::before {
  content: "“";
}

.quote::after {
  content: "”";
}

#loadQuote {
  background: #DD5E89; /* fallback for old browsers */
  font-family: inherit;
  width: auto;
  font-size:  1.2rem;
  display: inline-block;
  letter-spacing: 0.02em;
  border-radius: 4px;
  border: 2px solid #DD2476;
  color: #fff;
  padding: 15px;
  transition: .5s ;
  cursor: pointer;
  text-transform: uppercase;
}

#loadQuote:hover {
  background: #DD2476;
}

#loadQuote:focus {
  outline: none;
}

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }
  .quote::before, .quote::after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}

.disclaimer {
  font-size:  .875rem;
  text-align:  center;
  margin:  5rem 0 0;
}
