<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="b51Zs_VHq8ALy7PS0Nf5rGQafLOqOU752SIQDojU6ng" />

  <style type="text/css">
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  {% if page.critical %}
    {% capture critical %}
      {% include critical/{{ page.critical }} %}
    {% endcapture %}
  {% endif %}

  <style>{{ critical }}</style>

  <link rel="preload" as="font" type="font/woff2" href="/fonts/SourceSansVariable-Roman.ttf.woff2" crossorigin>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  {% feed_meta %}
  {% seo %}
  
</head>