* {
  @include border-box;
}

html {
  background: linear-gradient(135deg, #fde4e0 0%,#fce4e0 20%,#cfd8e1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  max-height: 100%;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: green;
  scrollbar-width: thin;
}

body {
  color: $base-color;
  font-family: $base-font;
  font-weight: 400;
  height: 100vh;
  letter-spacing: 0.01rem;
  line-height: 1.7;
  padding: 0 1rem;
}

a:not(.home-link) {
  border-bottom: 1px solid $eggplant;
  color: $eggplant;
  display: inline-block;
  font-weight: 550;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  vertical-align: bottom;
  white-space: nowrap;

  &:hover {
    border-color: rgba(52,73,94,0);
    background-color: rgba(52,73,94,0.1);
  }

}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-header {
  align-items: center;
  display: flex; 
}

.home-link {
  align-items: center;
  border: 1px solid $eggplant;
  display: flex;
  font-weight: 250;
  height: 40px;
  justify-content: center;
  margin-top: 2rem;
  text-decoration: none;
  width: 40px;
}

// .main-nav {
//   display: none;
//   ul {
//     @include rem(margin-left, 136px);
//     align-items: center;
//     display: flex;
//     list-style: none;
//   }

//   li {
//     font-size: 0.875rem;
//     margin-right: 1rem;
//   }

//   a {

//   }
// } 


/* 
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 */

 .sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

