// Console header

.top-header {
  @include rem(max-width, 1320px);
  margin: 0 auto;

  @include breakpoint(1000px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.logo {
  width: 165px;
}

.atura-logo {
  width: 105px;
}

.main-menu {
  flex: 1;
  display: flex;

  > ul {
    @include rem(margin, 20px);
    list-style-type: none;
  }

  li {
    @include rem(margin, 0 40px 0 0);
    display: inline-block;
  }

  a {
    text-decoration: none;

    &.active {
      font-weight: 700;
    }

  }

}

.user-profile {
  @include font-size(14);
  color: $celestial-blue;
}

.profile-link {
  display: inline-block;
  text-decoration: none;
}

.user-profile-thumb {
  border-radius: 50%;
  border: 3px solid $celestial-blue;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

// Dropdowns

.dropdown-holder {
  @include rem(margin, 10px 0 0);
  position: relative;
}

.dropdown {
  @include rem('padding', 10px 8px 10px 14px);
  border: 0;
  border-radius: 4px 0 0 4px;
  background-color: transparent;
  height: 50px;
  text-align: center;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;

  &:hover, &.dropdown-toggle-active {
    // background-color: lighten(black, 95%);
  }

  &:focus {
    outline: none;
  }

  img {
    height: 25px
  }

}

.js-button-dropdown-container {
  &.active {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown-menu {
  background: #FFFFFF;
  border-radius: 0 0 4px 4px;
  border: 1px solid $border-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: none;
  left: -1rem;
  margin: 0;
  min-width: 300px;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  transition: 0.3s ease;
  width: 100%;
  z-index: 1;

  li {
    display: block;
    margin: 0;
    position: relative;
    width: 100%;

    &.forward {

    }

    &.print {

    }

  }

  a {
    @include rem('padding', 12px 10px);
    border-bottom: 1px solid $border-color;
    display: block;
    @include font-size(14);
    text-decoration: none;

    &:hover {
      background-color: $celestial-blue;
      border-bottom: 1px solid $celestial-blue;
      color: white;
    }

    &.dropdown-alert {

      &::before {
        @include rem('margin', 0 10px 0 0);
        background-color: grey;
        content: "";
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        width: 20px;
      }

      &.new-chat {

        &::before {
          background : linear-gradient(90deg, rgba(204, 224, 244, 1) 0%, rgba(208, 215, 237, 1) 0%, rgba(218, 189, 218, 1) 0%, rgba(235, 148, 188, 1) 0%, rgba(255, 98, 151, 1) 0%, rgba(255, 133, 129, 1) 51.79%, rgba(255, 156, 113, 1) 99.44%);
        }
      }

      &.unresolved-chat {

        &::before {
          background : linear-gradient(90deg, rgba(204, 224, 244, 1) 0%, rgba(195, 222, 240, 1) 0%, rgba(169, 215, 229, 1) 0%, rgba(128, 205, 210, 1) 0%, rgba(80, 193, 189, 1) 0%, rgba(49, 207, 169, 1) 51.76%, rgba(55, 214, 163, 1) 99.44%);
        }
      }

      &.completed-chat {

        &::before {
          background : linear-gradient(90deg, rgba(204, 224, 244, 1) 0%, rgba(195, 221, 245, 1) 0%, rgba(169, 213, 246, 1) 0%, rgba(128, 200, 248, 1) 0%, rgba(84, 186, 251, 1) 0%, rgba(81, 169, 253, 1) 70.69%, rgba(77, 146, 255, 1) 99.44%);
        }
      }
    }
  }

}

.alert-heading {
  @include rem(padding, 10px);
  background-color: $lightest-grey;
  border-bottom: 1px solid $border-color;

  button {
    float: right;
  }

}

.clear-alerts {
  font-size: 12px;
  font-size: .75rem;
  background-color: transparent;
  border: 0;
  color: #333;
  position: absolute;
  right: 5px;
  top: 10px;
}


.message-count {
  @include font-size(11);
  @include rem('padding', 3px 6px);
  background-color: red;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  height: 22px;
  position: absolute;
  left: 20px;
  text-align: center;
  top: 0;
  width: 22px;
}