// Console header

.top-header {
  @include rem(max-width, 1320px);
  margin: 0 auto;

  @include breakpoint(1000px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  height: 1200px;

}

.logo {
  font-size: 1em;
  width: 165px;
}
