@mixin flex-direction($values) {
	-webkit-flex-direction: $values;
	flex-direction: $values;
}

@mixin flex-flow($values) {
	-webkit-flex-flow: $values;
	flex-flow: $values;
}

@mixin align-items($values) {
	-webkit-align-items: $values;
	align-items: $values;
}

@mixin justify-content($values) {
	-webkit-justify-content: $values;
	justify-content: $values;
}

@mixin flex($values) {
	-webkit-flex: $values;
	flex: $values;
}

@mixin display-flex() {
	display: -webkit-flex;
	display: flex;
}

@mixin display-inline-flex() {
	display: -webkit-inline-flex;
	display: inline-flex;
}


// Mixins ======================================================================================== /

// micro clearfix hack

%clearfix {
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

// border-box mixin

@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

//Transitions

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
     -moz-transition: $transition-property $transition-time $method;
      -ms-transition: $transition-property $transition-time $method;
       -o-transition: $transition-property $transition-time $method;
          transition: $transition-property $transition-time $method;
}

@mixin transitionfixed {
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
       -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out;
}


@mixin transitionlin {
  -webkit-transition: all 250ms linear;
     -moz-transition: all 250ms linear;
      -ms-transition: all 250ms linear;
       -o-transition: all 250ms linear;
          transition: all 250ms linear;
}


// REM fallbacks
//Set up a variable for calculation

$doc-font-size: 16;

// the font-size mixin

@mixin font-size($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
}

// Baseline, measured in pixels

$baseline-px: 16px;
@mixin rem($property, $px-values) {

  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem;

  // Print the first line in pixel values
  // #{$property}: $px-values;

  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
    @else {

  // Create an empty list that we can dump values into
  $rem-values: unquote("");
  @each $value in $px-values {

  // If the value is zero or a string or a color, return unchanged input
  @if $value == 0 or type-of($value) == "string" or type-of($value) == "color" {
    $rem-values: append($rem-values, $value); }
    @else {
      $rem-values: append($rem-values, $value / $baseline-rem); } }

  // Return the property and its list of converted values
  #{$property}: $rem-values; }
}
// useage @include rem('padding', 16px 0 0 0);

%contentBulletList {
  list-style: none;

  & > li {
    &:before {
        content: "\25CF";
        margin: 0 10px 0 -21px;
    }

    &:hover:before {

    }
  }
}

// Centering

@mixin centerBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Responsive video

@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
  @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  width: $width;
  height: 0;
  padding-bottom: $height;
  position: relative;
}

//Horizontal rule

@mixin hr {
  border: 0;
  height: 1px;
  display: block;
  margin: 40px 0 30px;
}

@mixin bottom-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

@mixin top-shadow {
  box-shadow: 0 8px -6px 6px rgba(0, 0, 0, 1) inset;
}

//Flexbox
@mixin flexAlign($pack, $align){
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  display: -webkit-box;
  -webkit-box-pack: $pack;
  -webkit-box-align: $align;

  display: -moz-box;
  -moz-box-pack: $pack;
  -moz-box-align: $align;

  display: box;
  box-pack: $pack;
  box-align: $align;
}

%greyscale {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
}

%tabular-numbers {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

@mixin css-arrow($arrow-position, $arrow-color, $arrow-size) {
    &:after {
      position: absolute;
      border: solid transparent;
      content: " ";
      top: auto;
      left: auto;
      height: 0;
      width: 0;
      margin: 0;
      border-color: transparent;
      border-width: $arrow-size;
      pointer-events: none;
    }
    @if $arrow-position == "top" {
      &:after {
        bottom: 100%;
        border-bottom-color: $arrow-color;
        margin-left: (-$arrow-size);
        left: 50%;
      }
    }
    @if $arrow-position == "right" {
      &:after {
        left: 100%;
        border-left-color: $arrow-color;
        margin-top: (-$arrow-size);
        top: 50%;
      }
    }
    @if $arrow-position == "bottom" {
      &:after {
        top: 100%;
        border-top-color: $arrow-color;
        margin-left: (-$arrow-size);
        left: 50%;
      }
    }
    @if $arrow-position == "left" {
      &:after {
        right: 100%;
        border-right-color: $arrow-color;
        margin-top: (-$arrow-size);
        top: 50%;
      }
    }
  }

  //Usage @include css-arrow(top, red, 0.5rem);

  @mixin breakpoint($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

%transition {
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}