// Pagination styles

// In table

.paginate {

  a {
    @include font-size(14);
    @include rem(margin, 0 2px);
    @include rem(padding, 3px 10px);
    color: $medium-grey;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &.current, &:hover {
      background-color: $bg-color;
      color: $celestial-blue;
    }

    &.pagination-marker {
      background-position: center center;
      background-repeat: no-repeat;
      height: 10px;
      width: 10px;

      &:hover {
        background-color: transparent;
      }

    }

    &.pagination-disabled {
      background-image: url(../images/vectors/pagination-disabled.svg);
    }

    &.pagination-enabled {
      background-image: url(../images/vectors/pagination-enabled.svg);
    }

  }

}