::-moz-selection {
	background: $mid-grey;
	color: white;
}

::selection {
	background: $mid-grey;
	color: white;
}


// --------------------------- Font-Scaling Algorithm ----------------------------
// For the general strategy: https://www.codementor.io/ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g
// Explanation contained herein: https://www.madebymike.com.au/writing/precise-control-responsive-typography/

// -------------
// Min and max viewport sizes to apply the font scaling
$min_width: 320;
$max_width: 1400;
// --------------

// --------------
// Range of font size to apply
$min_font: 14;
$max_font: 18;
// --------------

html {
  font-size: #{$min_font}px;
}

// Media queries
// -------------

@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  html {
    font-size: calc(
      #{$min_font}px + (#{$max_font} - #{$min_font}) *
        ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width}))
    );
  }
}

@media (min-width: #{$max_width}px) {
  html {
    font-size: #{$max_font}px;
  }
}

h1, .h1 {
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
h2, .h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  line-height: 1.125em;
  margin-top: 1.125em;
  margin-bottom: 0.5em;
}
h4, .h4 {
  line-height: 1.6875em;
  margin-top: 1.6875em;
  margin-bottom: 0em;
}
h5, .h5 {
  line-height: 1.6875em;
  margin-top: 1.6875em;
  margin-bottom: 0em;
}
p, ul, ol, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.6875em;
}


//  Let's make sure all's aligned
hr, .hr {
  border: 1px solid $border-color;
  margin: -1px 0 2rem;
}
b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

small {
  font-size: 80%;
}

// Lists

ol, ul {
	padding: 0;
	margin-left: 1.5rem;
}

ol, .list-ordered {
	list-style: decimal;
}
