::-moz-selection {
	background: $celestial-blue;
	color: white;
}

::selection {
	background: $celestial-blue;
	color: white;
}

h1, .h1 {
  font-size: 3.375em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
h2, .h2 {
  font-size: 2.25em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h3, .h3 {
  font-size: 1.5em;
  line-height: 1.125em;
  margin-top: 1.125em;
  margin-bottom: 0.5em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.6875em;
  margin-top: 1.6875em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.6875em;
  margin-top: 1.6875em;
  margin-bottom: 0em;
}
p, ul, ol, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.6875em;
}


/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid $border-color;
  margin: -1px 0 2rem;
}
b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

// Lists

ol, ul {
	padding: 0;
	margin-left: 1.5rem;
}

ol, .list-ordered {
	list-style: decimal;
}
