// Variables ================================================================================

//Main Pallete colours

$eggplant: #9d005a;
$astronaut: #0e3378;
$mid-grey: #1d1e22;

// Variable colours

$base-color: #212132;

// Fonts

$base-font: 'Source',  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$header-font: 'Schnyder M Web', Georgia, serif;

$border-color: #c1c1c1;