// Variables ================================================================================

//Main Pallete colours

$eggplant: #9d005a;
$astronaut: #0e3378;
$mid-grey: #585e6b;

// Variable colours

$base-color: #404d5b;

// Fonts

$base-font: 'Source',  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$header-font: 'Schnyder M Web', Georgia, serif;

$border-color: #c1c1c1;