/*
   Color and sizing variables
   ========================================================================== */

// Variables ===================================================================================== /

//Atura colours

$eggplant: #9d005a;
$astronaut: #0e3378;
$black-pearl: #000c26;

// Variable colours

$base-color: #0e3378;