---
layout: layouts/base.njk
section: page
---
<section class="container content--container single--page">
  <h1 class="page--title">{{ title }}</h1>

  <section class="two--column-50">
    <div>
      <p>I am a user interface designer, front-end developer and team leader with over twenty years’ experience designing and building web and mobile applications and sites.</p>
      <p>I have worked as a designer and front-end developer on large scale financial services web applications, on award winning mobile applications, and am equally comfortable creating small scale community sites. I have a deep understanding of UI and front-end technologies and of the web as a platform, with a particular interest in design systems, style guides and component-based UI libraries.</p>
      <p>As a team leader I relish the opportunity to build effective teams, workflows and toolsets, and to lead and support organisations in designing simple, accessible, cohesive and impactful user experiences.</p>
      <p>You can also <a href="/static/JustinSlackCV2020.pdf">download my CV</a>.</p>
    </div>
    <figure class="page-image">
      <img src="/static/images/justinslackportrait.JPG" alt="Photo of Justin Slack" class="portrait--justin">
    </figure>
  </section>
</section>

<div class="with-bg p-t-48 p-b-48">
  <section class="two--column-50 container">
    <div>
      <h2>Community</h2>
      <p>Building communities is an essential part of what I do. In 2012 I co-founded the Cape Town Front-end Developer meetup and in 2019 the non-profit Front-end Developers South Africa. We have run over 80 monthly talks and workshops and at last count have over 2700 members.</p>
      <p>Recently we started a monthly podcast which you can listen to on <a href="https://soundcloud.com/fedsa-community" target="_blank" rel="noopener noreferrer">Soundcloud</a>.</p>
      <p>In addition to organising community events I also <a href="/talks-and-workshops/#talks">speak</a> at conferences and meetups and have run a number of <a href="/talks-and-workshops/#workshops">workshops</a>. These include DevConf, UX South Africa, The Developer User Group, The Scrum User Group and The Cape Town Dribbble Community.</p>
      <p>I am a regular at the Codebridge Community Evening &ndash; a collaborative civic tech meetup &ndash; where I am part of a team of activists, designers, developers, data scientists and journalists working on a website and data platform for the Budget Justice Coalition, a civil society coalition that aims to collaboratively build people's participation in and understanding of South Africa's budget and planning processes.</p>
    </div>
    <div>
      <h2>Community links</h2>
      <a class="community--link" href="https://fedsa.org" target="_blank" rel="noopener noreferrer">
        <h3>FEDSA</h3>
        <p>Front-end Developers South Africa (previously Cape Town Front-end Developers) is a registered non-profit organisation supporting the advancement of front-end development in South Africa (new website coming soon).</p>
      </a>
      <a class="community--link" href="https://www.meetup.com/fedsa-community/" target="_blank" rel="noopener noreferrer">
        <h3>FEDSA Meetup Group</h3>
        <p>We're a group of Cape Town-based web developers and designers passionate about the technologies we work with on a daily basis, and we're keen to share what we've learnt. Join the Meetup group to stay up to date with events, talks and workshops.</p>
      </a>
      <a class="community--link" href="https://codebridge.org.za/" target="_blank" rel="noopener noreferrer">
        <h3>Codebridge</h3>
        <p>Codebridge is an open community at the intersection of civic-tech and social change, comprising programmers, activists, data analysts, designers, human rights lawyers, government officials, journalists, visual artists, storytellers and other professions who collaborate on social change projects.</p>
      </a>
      <a class="community--link" href="https://www.meetup.com/Codebridge/" target="_blank" rel="noopener noreferrer">
        <h3>Codebridge Newlands Community Evening</h3>
        <p>Join the Meetup group to get involved and lend your expertise to civic tech projects.</p>
      </a>
    </div>
  </section>

</div>