---
layout: layouts/base.njk
section: page
---
<section class="container content--container single--page">
  <h1 class="page--title">{{ title }}</h1>

  <article class="textual--content">
    {{ layoutContent | safe }}
  </article>
</section>