---
layout: layouts/base.njk
section: post
---

<article class="container article-head">
  <h1 class="post-title">{{ title }}</h1>
  <div class="post-meta">
    <span>{{ show }}</span>
    <p>
      <small>
        <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
      </small>
    </p>
  </div>
</article>
<figure class="align--center internal--image">
  <img src="{{ featuredImage }}" alt="{{ alt }}" loading="lazy"> 
</figure>

<article class="container article-body">
  
  {{ layoutContent | safe }}

  <!-- <nav>
    <a href="{{ '/blog/' | url }}">← Article index</a>
  </nav> -->
  
</article>
