---
layout: layouts/base.njk
section: shows
permalink: /shows/index.html
---

<section class="container content--container single--page">
  <h1 class="page--title">{{ title }}</h1>

  <article class="textual--content">
    {{ layoutContent | safe }}
  </article>

  <div class="grid three--column--grid list--shows">
    {% set showlist = collections.show %}
    {% include "components/showlist.njk" %}
    <article class="next--show">
		  <div class="next--show-copy">
        <h3 class="show--card-name">
          Next show
			    <span class="sub--title">26 June 2020</span>
		    </h3>
        <p class="show--summary">Masters at Work / Kerri Chandler</p>
      </div>
    </article>
  </div>
</section>