---
layout: layouts/base.njk
section: page
---
<section class="container content--container single--page">
  <h1 class="page--title">{{ title }}</h1>

  <section class="two--column-50">
    <div>
      <p>I very much enjoy speaking at meetups and conferences, running workshops and organising events. Community events allow me to share my knowledge and also learn from all participants. My particular interests lie in design systems and operations, forging closer ties between designers and developers, and enabling teams to build inclusive and accessible experiences.</p>
      <p>If you would like me to speak at an event, or if you would like to give a talk or workshop at a <a href="https://fedsa.org" target="_blank">FEDSA</a> event, please <a href="mailto:justin&commat;justinslack&period;com">get in touch</a>.</p>
    </div>
    <figure class="page-image">
      <svg width="144" height="144" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-reactroot="">
        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#00a1e0" fill="none" d="M2 3V16C2 16.55 2.45 17 3 17H6V22L12 17H21C21.55 17 22 16.55 22 16V3C22 2.45 21.55 2 21 2H3C2.45 2 2 2.45 2 3Z"></path>
        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#00a1e0" d="M17.99 13H18"></path>
        <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1" stroke="#00a1e0" d="M13.99 13H14.01"></path>
        </svg>
    </figure>
  </section>
</section>

<div class="with-bg p-t-48 p-b-48">
  <section class="two--column-50 container">
    <div id="talks">

      <h2>Podcasts</h2>

      <a class="community--link" href="https://soundcloud.com/fedsa-community" target="_blank" rel="noopener noreferrer">
        <h3>Front-end Development South Africa podcast</h3>
      </a> 
      <span class="organisation">FEDSA</span>
      <time>2021</time>  
      <p>The FEDSA podcast hosted by <a href="https://schalkventer.me/" target="_blank" rel="noopener noreferrer">Schalk Venter</a> and yours truly.</p>

      <a class="community--link" href="https://soundcloud.com/zadevchat/episode-44-accessibility-with-steve-barnett-justin-slack" target="_blank" rel="noopener noreferrer">
        <h3>Episode 44 - Accessibility with Steve Barnett & Justin Slack</h3>
      </a> 
      <span class="organisation">The ZADevChat Podcast</span>
      <time>2016</time>  
      <p>Kenneth & Len are joined by Steve Barnett and Justin Slack to talk about building accessible frontends.</p>

      <h2>Talks</h2>
      <p>A non-exhaustive list of talks I have given over the years.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/274201526/" target="_blank" rel="noopener noreferrer">
        <h3>Modern layout on the web</h3>
      </a> 
      <span class="organisation">Devconf</span>
      <time>April, 2020</time>  
      <p>Tracing the history of web layouts and a demonstration of some of the new techniques at our disposal to create modern, designed interfaces with our new layout tools.</p>

      <a class="community--link" href="https://www.devconf.co.za/" target="_blank" rel="noopener noreferrer">
        <h3>Web typography: past, present and future</h3>
      </a>
      <span class="organisation">Devconf</span>
      <time>March, 2019</time>  
      <p>On the intersection of beautiful web typography and performance, inlcuding a discussion of the history of fonts on the web, how to enable rich typographic features, and how to load web fonts efficiently.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/271347286/" target="_blank" rel="noopener noreferrer">
        <h3>Dynamic and performant web typography</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>December 5, 2018</time>  
      <p>Covering tips for selecting and matching typefaces, the latest techniques for optimising custom font performance, and how to use modern CSS for fluid type that scales seamlessly across devices.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/255017813/" target="_blank" rel="noopener noreferrer">
        <h3>On variable fonts</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>December 5, 2018</time>  
      <p>A lightning talk on what variable fonts are and how we can use them in our work today.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/255017813/" target="_blank" rel="noopener noreferrer">
        <h3>Web typography: past, present and future</h3>
      </a>
      <span class="organisation">IO</span>
      <time>September 7, 2018</time>  
      <p>On the intersection of beautiful web typography and performance, inlcuding a discussion of the history of fonts on the web, how to enable rich typographic features, and how to load web fonts efficiently.</p>

      <a class="community--link" href="https://uxsouthafrica.com/" target="_blank" rel="noopener noreferrer">
        <h3>Web Typography Now</h3>
      </a>  
      <span class="organisation">UX South Africa Conference</span>
      <time>Ocotber, 2014</time>  
      <p>A talk covering typography concepts, a short history of type on the web, and a demonstration of advanced techniques for creating beautiful web typography.</p>


      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/195634562/" target="_blank" rel="noopener noreferrer">
        <h3>Building a front-end style guide with Jekyll</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>July 31, 2014</time>  
      <p>On the advantages of using front-end style guides, what they should contain, and a practical demonstration of creating a style guide using Jekyll, a static site generator.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/125756342/" target="_blank" rel="noopener noreferrer">
        <h3>Web typography now</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>June 27, 2013</time>  
      <p>A talk covering typography concepts, a short history of type on the web, and a demonstration of advanced techniques for creating beautiful web typography.</p>

    </div>
    <div id="workshops">
      <h2>Workshops</h2>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/263746477/" target="_blank" rel="noopener noreferrer">
        <h3>Learning CSS layout properties</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>September 14, 2019</time>  
      <p>Covering new CSS layout techniques including flexbox, grid, box-alignment, writing modes and many more.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/221386799/" target="_blank" rel="noopener noreferrer">
        <h3>CSS Grid workshop</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>June 2, 2018</time>  
      <p>Focussing on CSS grid and modern web layout techniques.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/221386799/" target="_blank" rel="noopener noreferrer">
        <h3>Global Accessibility Awareness Day workshop</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>May 12, 2018</time>  
      <p>Focussing on accessibility for Global Accessibility Awareness Day. With <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett.</a></p>

      <a class="community--link" href="https://www.meetup.com/Cape-Town-Scrum-User-Group-SUGSA/events/248915693/" target="_blank" rel="noopener noreferrer">
        <h3>Speak up! workshop: the fine art of sharing and presenting</h3>
      </a>
      <span class="organisation"> Scrum User Group Cape Town - SUGSA</span>
      <time>April 21, 2018</time>  
      <p>Workshop on public speaking. With <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett.</a></p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/221386799/" target="_blank" rel="noopener noreferrer">
        <h3>CSS layouts: Flexible boxes and grid</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>November 18, 2017</time>  
      <p>Workshop on using CSS flexbox and grid for laying out web pages and components.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/236867974/" target="_blank" rel="noopener noreferrer">
        <h3>Open Design Cape Town special event</h3>
      </a>
      <span class="organisation">Open Design</span>
      <time>August 19, 2017</time>  
      <p>Workshop-style discussion in a Lean Coffee format sharing interesting things, getting inspired, and seeing how Front-end developers can change the world. With <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett.</a></p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/239478519/" target="_blank" rel="noopener noreferrer">
        <h3>Global Accessibility Awareness Day workshop</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>May 20, 2017</time>  
      <p>Workshop focussing on accessibility for Global Accessibility Awareness Day. With <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett.</a></p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/235901778/" target="_blank" rel="noopener noreferrer">
        <h3>Web Typography workshop Part II</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>December 10, 2016</time>  
      <p>Part II of a hands-on practical workshop on getting web fonts to work and work well, concentrating on CSS typographic properties.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/233707890/" target="_blank" rel="noopener noreferrer">
        <h3>Web Typography workshop Part I</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>October 15, 2016</time>  
      <p>Hands on practical workshop on getting web fonts to work and work well, and approaching web fonts from an accessibility and performance point of view.</p>

      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/230409560/" target="_blank" rel="noopener noreferrer">
        <h3>Open Design Cape Town special event</h3>
      </a>
      <span class="organisation">Open Design Cape Town</span>
      <time>August 20, 2016</time>  
      <p>CTFEDs workshop as part of The Open Design Cape Town festival focussing on accessibility, Universal Design, and Human-Centered Design. With <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett.</a></p>


      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/223987693/" target="_blank" rel="noopener noreferrer">
        <h3>Global Accessibility Awareness Day workshop</h3>
      </a>
      <span class="organisation">CTFEDS</span>
      <time>May 14, 2016</time>  
      <p>Workshop focussing on accessibility for Global Accessibility Awareness Day. With <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett.</a></p>

      <a class="community--link" href="https://uxsouthafrica.com/" target="_blank" rel="noopener noreferrer">
        <h3>Future Friendly UX Design</h3>
      </a>  
      <span class="organisation">UX South Africa Conference</span>
      <time>April, 2016</time>  
      <p>UX workshop with <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett</a>.</p>

      <a class="community--link" href="https://uxsouthafrica.com/" target="_blank" rel="noopener noreferrer">
        <h3>Future Friendly UX Design</h3>
      </a>  
      <span class="organisation">UX South Africa Conference</span>
      <time>November, 2015</time>  
      <p>UX workshop with <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett</a></p>


      <a class="community--link" href="https://www.meetup.com/fedsa-community/events/223987693/" target="_blank" rel="noopener noreferrer">
        <h3>Open Design Cape Town special event</h3>
      </a>
      <span class="organisation">Open Design Cape Town</span>
      <time>August 22, 2015</time>  
      <p>A hands-on workshop for making your website even better. A CTFEDs event as part of the Open Design Cape Town festival. With <a href="https://naga.co.za/" target="_blank" rel="noopener noreferrer">Steve Barnett</a></p>
    </div>
  </section>

</div>